<%- include('header') -%>
<%- include('navbar') -%>
<%- include('footer') -%>

<div class="nx-auto" style="width: 380px;">
    <h2>Nuestra Historia</h2>>
</div>

<div class="row mt-3">
    <div class="col col-nd-6">
        <div class="card">
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, quasi? Quos fugit dolorum repellendus, saepe minus quisquam recusandae tempore totam porro autem consequatur voluptatum nobis quia laudantium rem facilis doloribus.</div>
                    
